.face{
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius: 50%;
    border: 5px solid black;
}

.mouth{
    width: 200px;
    height: 75px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 120px;

}

.left-eye, .right-eye{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 80px;
    display:inline-block;
}


.right-eye {
    left: 250px;
    /* top: 200px; */
}
