body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-size: 80px; /* Adjust face size */
}


.face{
    width: 400px;
    height: 400px;
    background-color: #694203;
    border-radius: 50%;
    border: 5px solid black;
    position: relative;
    display: inline-block;
}

.mouth{
    width: 200px;
    height: 75px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 120px;

}

.left-eye, .right-eye{
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 80px;
    display:inline-block;
}


.right-eye {
    left: 240px;
    /* top: 200px; */
}

.left-eye{
    left: 75px;
}
.nose {
    position: absolute;
    top: 45%; /* Adjust vertical position */
    left: 50%; /* Adjust horizontal position */
    right: 43%;
    transform: translate(-50%, -50%); /* Centers the nose */
    font-size: 40px; /* Adjust nose size */
}
