<div style="background-color: lightblue">
    <hr>
    contact us at: <a href="mailto:hello@apnacollege.com">hello@apnacollege.com</a>
    <br>
    phone no.- +91 1234567890
    powered by: <a href="https://www.apnacollege.com/">apnacollege.com</a>
    <hr>
</div>
