h3  {
    background-color: purple !important;
}
* {
  font-family: "Courier New";
  /* background-color:blue; */
}

/* h1  {
    color: #b92b27;
} */


h1,
h3 {
  color: #b92b27;
}

/* ID Selector */
#login {
  background-color: white;
}

#signup {
  background-color: #b92b27;
  color: white;
}

/* class selector */
/* .myclass {
    property:value;
} */

.upvote {
  background-color: green;
  color: blue;
}

/* descendent selector */
.post {
  background-color: green;
  color: blue;
}

nav ul li a {
  color: blue;
}

nav + a {
  color: red;
}
p + h3 {
  text-decoration: underline;
}

.upvote + button {
  background-color: cornflowerblue;
  color: blue;
}

.upvote + button:hover {
  background-color: blue;
  color: cornflowerblue;
}

.upvote + button:active {
  background-color: blue;
  color: cornflowerblue;
}

.upvote + button:focus {
  background-color: blue;
  color: cornflowerblue;
}

.upvote + button:visited {
  background-color: blue;
  color: cornflowerblue;
}

.upvote + button:link {
  background-color: blue;
  color: cornflowerblue;
}
div > input {
  background-color: darksalmon;
  color: cornflowerblue;
}

/* Atribute selector
*/

input[type="text"] {
  color: red;
}

input[type="password"] {
  background-color: rgb(17, 255, 0);
  color: red;
}

input[type="submit"] {
  background-color: blue;
  color: white;
}

input[type] {
  background-color: blue;
  color: white;
}

/* pseudo-class */
button:hover {
  background-color: black;
  color: white;
}

h3:hover {
  text-decoration: overline;
}

button:active {
  background-color: hotpink;
}

p:active {
    font-weight: bold;
    color: white;
}

input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}



div:nth-of-type(2n){
    background-color: yellow;
}


h1::first-letter {
    color: black;
}


p::first-line {
    color: #0cb92c;
}


p::selection{
    background-color: #b90c0c;
    color: white;
}


h3  {
    background-color:rgb(17, 255, 0)
}

h3 {
    color: rgb(17, 255, 0)
    background-color aqua;
}
