* {
    font-family: "Courier New";
    /* background-color:blue; */
}



/* h1  {
    color: #b92b27;
} */


/* h3  {
    color: purple;
} */


h1, h3  {
    color: #b92b27;
} 

/* ID Selector */
#login {
    background-color: white;

}

#signup {
    background-color: #b92b27;
    color: white;
}

/* class selector */
/* .myclass {
    property:value;
} */


.upvote {
    background-color: green;
    color: blue;
}


/* descendent selector */
.post {
    background-color: green;
    color: blue;
}


nav ul li a{
    color:blue
}

p + h3{
    text-decoration: underline;
}


.upvote + button{
    background-color: cornflowerblue;
    color: blue;
}
