/* body{
    background-color: rgb(15, 212, 45);
} */


.navbar{
    height:5rem;
    background-color: #fff !important;
    border-bottom: 1px solid #eee;
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}