<footer>
    <div class="f-info">

    </div>
    <div>
        WanderLust Private Limited
    </div>
    <div>
        &copy; 2021 WanderLust Private Limited. All rights reserved.
    </div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>

    </div>
</footer>